<!DOCTYPE html>
<html>
<head>
    <title>Case Analysis</title>

<style>

 video {
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 120%;
            position: absolute;
            z-index: 1;
            left: 0px;
            top: 0px;
        }
        .cntnt {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 2;

        }

</style>

</head>
<body>


    <div class="vdo">
        <video autoplay muted loop>
            <source src="./vdo/vdo1.mp4" type="video/mp4" />
        </video>
    </div>


    <div class="cntnt">

        
        <h1>Case Analysis Tool</h1>
        <form method="post">
            {% csrf_token %}
            <textarea name="description" placeholder="Enter case description here..."></textarea><br>
            <input type="submit" value="Analyze Case">
        </form>
        
        {% if status %}
        <h2>Predicted Status: {{ status }}</h2>
        <h3>Observations:</h3>
        <ul>
            {% for observation in observations %}
            <li>{{ observation }}</li>
            {% endfor %}
        </ul>
        
        <h3>Leads:</h3>
        <ul>
            {% for lead in leads %}
            <li>
                Lead: {{ lead.Lead }}<br>
                Confidence Score: {{ lead.Confidence_Score }}<br>
                Suggested Action: {{ lead.Suggested_Action }}
            </li>
            {% endfor %}
        </ul>
        
        <h3>Next Steps:</h3>
        <ul>
            {% for step in next_steps %}
            <li>{{ step }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    </body>
    </html>
    